configuration{
    display-drun: "Applications:";
    display-window: "Windows:";
    drun-display-format: "{icon} {name}";
    modi: "window,run,drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "alacritty";
    location: 0;
}

@theme "catppuccin-mocha"

